@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #f8d9d5;
}

header{
    text-align: center;
    background-color: #f18b7f;
    height: 138px;
}

header h1{
    color: purple;
    font-weight: 500;
    font-size: 3em;
}

header img, h1{
    display: inline;
}

header img{
    width: 100px;
    height: 70px;
    margin-top: 20px;
}

header > nav{
    text-align: left;
    margin-left: 100px;
    background-color:purple;
    width: 271px;
    padding: 10px;

    border-radius: 5px 5px 0px 0px;
}

header > nav > a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header > nav > a:hover{
    background-color: white;
    color: purple;
    transition-duration: 0.5s;
}



main{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 4px 3px 4px 0px #00000038;
}

ol{
    margin-top: 20px;
    margin-left: 20px;
}
